.App {
  /* background-color: #282c34; */
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  /* color: white; */

}

.App-header {
  padding-left: 1rem;
  padding-right: 1rem;
}

.App-link {
  color: #61dafb;
}



/* Place footer at the  bottom of screen */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
 
}